$main-blue: #0d2647;
$main-grey: #aaa;
$ghost-white: #efefef;
$main-orange: #fea353;
$main-lilac: #ddd1db;
$result-title-color: #005b96;
$icon-font: 2rem;
$icon-size: 2.81rem;
$border-radius: 0.5;
$icon-background: #0d2647;