$mainBlue: #0d2647;
$mainGrey: #aaa;
$ghostWhite: #efefef;
$mainOrange: #fea353;
$mainLilac: #ddd1db;
$resultTitleColor: #005b96;

$icon-font: 2rem;
$icon-size: 2.81rem;
$border-radius: 0.5;
$iconBackground: #0d2647;